body {
    background-color: pink;
    margin: auto;
}
.flex_container {
    display: flex;
    background-color: blue;
}
.flex_container > div {
    background-color: cyan;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
.sub_a, .sub_b{
    background-color: green;
    margin: 15px;
    padding: 15px;
    font-size: 20px;
}