/* ! BODY--> */
html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white-background);
}
body {
    display: flex;
    flex-direction: column;
}
body > * {
    flex: 1 100%;
}
header {
    display: flex;
    max-height: 50px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}
.container {
    height: 100%;
    display: flex;
    align-content: stretch;
    width: 100%;
    background-color: var(--white-background2);
    flex: 1 1 100%;
}
.container > nav,
.container > main,
.container > aside {
    margin: 0px 5px 5px 5px;
}
:root {
    --white-background: #f3f3f3;
    --white-background2: #1c1e211c;
    --fonts-color: #e2e2e2;
    --green: #8d5555;
    --green2: #b0c871;
    --green3: #e81414;
    --green4: rgba(70, 133, 54, 0.816);
    --green5: rgb(46, 92, 84);
    --red: #7f9b95;
    --silver2: #1c1e21a3;
    --silver: #e6e6e6;
    --blue: #3b5b98;
    --dark: #1c1e21;
    --green-chat: #3a8c445b;
    --red-chat: #b146334b;
    --dark-chat: #414346e5;
    --blue-group: #75d1ed69;
    --orange-group: #d5ce1469;
}
/* * HEADER MENU */
.menu {
    background-color: var(--silver);
    display: flex;
    justify-content: space-between;
    max-height: 50px;
    box-shadow: 0px 0px 3px 0px var(--dark);
}
.menu > .logo-box {
    display: block;
    padding-top: 5px;
    padding-left: 1px;
    text-align: center;
}
.menu > .panels-box {
    display: flex;
    padding: 5px;
    text-align: center;
    justify-content: flex-end;
}
.menu > .search-box {
    display: flex;
    padding: 5px;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    min-height: 30px;
    min-width: 30px;
    align-items: center;
}
@media screen and (max-width: 700px) {
    .menu .logo-1 {
        width: 50px;
        height: 50px;
        display: none;
    }
    .menu .logo-2 {
        display: flex;
    }
    .panels-link > .panel-txt {
        display: none;
    }
    .user-name {
        display: none;
    }
    .container main {
        flex-grow: 2;
    }
}
@media screen and (max-width: 800px) {
    .menu .search-box {
        display: none;
    }
}
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--silver);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--green5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--green4);
}
/* & LOGO BOX */
.logo-1 {
    width: 150px;
    height: 40px;
    border-radius: 25px;
}
.logo-2 {
    display: none;
    height: 40px;
}
.logo-bax img {
    flex: stretch;
    max-width: 100%;
}
/* & END LOGO BOX */
/* & SEARCH BOX */
.search-box {
    height: 30px;
    border-radius: 30px;
    padding: 5px;
    display: flex;
}
.search-btn {
    min-width: 30px;
    min-height: 30px;
    color: rgb(255, 255, 255);
    border: 1px solid var(--white-background);
    border-radius: 50%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    font-size: 12px;
    font-style: italic;
    line-height: 20px;
    width: 0px;
    transition-duration: 5s, 500ms;
    color: var(--white-background);
}
.search-txt::placeholder {
    color: var(--white-background);
}
.search-box:hover > .search-txt {
    width: 100px;
    transition-duration: 2s, 500ms;
}
.search-box:hover > .search-box {
    width: 180px;
    transition-duration: 2s, 500ms;
    justify-content: flex-start;
}
/* & END SEARCH BOX */
/* & PANELS BOX */
.panels-link > .panel-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 50%;
    padding: 5px;
}
.panel-icon > i {
    font-size: 20px;
    text-decoration: none;
}
.panels-link > .panel-txt {
    display: none;
}
.panel-0,
.panel-1,
.panel-2,
.panel-3,
.panel-4,
.panel-5 {
    display: flex;
    align-items: center;
    background-color: var(--red);
    border-radius: 20px;
    justify-content: center;
    margin-right: 15px;
    margin: 5px;
}
.panel > .panels-link {
    color: var(--white-background);
    text-decoration: none;
}
.panels-link,
.panel-txt {
    transition-duration: 5s, 500ms;
}
.panel-txt {
    padding-left: 5px;
}
.panel:hover > .panels-link {
    display: flex;
    max-width: 80px;
    text-decoration: none;
    color: var(--red);
    justify-content: center;
    align-items: center;
    transition-duration: 2s, 500ms;
}
.panels-link:hover > .panel-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-style: italic;
    float: left;
    margin-right: 5px;
    transition-duration: 5s, 500ms;
    font-weight: 300;
    color: var(--white-background);
}
/* & END PANELS BOX */
/* & OPTIONS BOX */
.user-class {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.options-box {
    padding: 5px;
}
.panel-6 {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--red);
    border-radius: 20px;
}
.user-class {
    margin-right: 15px;
    width: 28px;
    height: 28px;
    padding: 2px;
    background-color: var(--red);
}
.user-box {
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-name {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: var(--white-background);
    text-shadow: 2px 2px 2px black;
}
.bell-box {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bell-item {
    width: 20px;
    height: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-panel ul {
    display: flex;
    flex-direction: column;
    height: 285px;
    width: 80%;
    background-color: var(--red);
    border-bottom-left-radius: 30px;
    font-family: Arial, "Liberation Sans", "Droid Sans", Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1rem;
}
.log-panel > li {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.log-panel {
    position: absolute;
    display: none;
    top: 52px;
    right: 0px;
    height: 300px;
    width: 150px;
    background-color: var(--silver);
    border-bottom-left-radius: 40px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px var(--dark);
    z-index: 1;
}
.log-text {
    width: 100%;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.log-or {
    padding: 5px;
}
.log-txt,
.log-or {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: var(--white-background);
    text-shadow: 2px 2px 2px black;
}
.log-pass {
    width: 100%;
}
.log-docker {
    width: 93%;
    text-align-last: inherit;
}
.log-btn {
    width: 100%;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
    background-color: var(--dark);
    color: var(--white-background);
}
.fb-btn {
    width: 100%;
    background-color: var(--blue);
    color: var(--white-background);
    display: inline-flex;
    margin-bottom: 3px;
}
.google-btn {
    width: 100%;
    background-color: rgb(182, 77, 77);
    color: var(--white-background);
    display: inline-flex;
    margin-bottom: 3px;
}
.fb-btn .log-fb,
.google-btn .log-google {
    display: flex;
    flex-direction: row;
    padding: 5px;
    text-decoration: none;
}
.fb-btn i,
.google-btn i {
    font-size: 25px;
    color: var(--white-background);
    display: flex;
    align-items: center;
    justify-self: center;
}
.fb-btn span,
.google-btn span,
.register {
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
    text-decoration: none;
}
.bell-box:focus-within > .log-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.log-panel .login-hi {
    width: 100%;
    font-size: 10px;
}
/* & END OPTIONS BOX */
/* * END HEADER MENU */
/* ! END BODY--> */
