<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/css.css'>
</head>

<body>
    <div class="flex_container">
        <div>Div A
            <div class='sub_a'>Sub a</div>
            <p>Jestem sobie elementem xxx</p>
        </div>
        <div>Div b
            <div class='sub_b'>Sub b</div>
            <p>Jestem sobie elementem xxx</p>
        </div>
        
        <div>Div c
        </div>

    </div>
</body>

</html>