<div
    class="dropdown-menu dropdown-menu-right profile-dropdown show"
    style="
        position: absolute;
        will-change: transform;
        top: 0px;
        left: 0px;
        transform: translate3d(-30px, 70px, 0px);
    "
    x-placement="bottom-end"
>
    <!-- item-->
    <div class="dropdown-header noti-title">
        <h6 class="text-overflow m-0">Welcome !</h6>
    </div>

    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item notify-item">
        <i class="ri-account-circle-line"></i>
        <span>My Account</span>
    </a>

    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item notify-item">
        <i class="ri-settings-3-line"></i>
        <span class="">Settings</span>
    </a>

    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item notify-item">
        <i class="ri-wallet-line"></i>
        <span class=""
            >My Wallet <span class="badge badge-success float-right">3</span>
        </span>
    </a>

    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item notify-item">
        <i class="ri-lock-line"></i>
        <span class="">Lock Screen</span>
    </a>

    <div class="dropdown-divider"></div>

    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item notify-item">
        <i class="ri-logout-box-line"></i>
        <span class="">Logout</span>
    </a>
</div>

<style>
    div.dropdown-menu.dropdown-menu-right.profile-dropdown.show {
    }
</style>
