<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Pookiepook</title>
    <meta name="description" content="Strona poświęcona ludziom ceniącym sobie równowagę i spokój w zyciu">
    <meta name="keywords" content="pookiepook, balance, places, nature, healthy lifestyle">
    <link rel="stylesheet" type="text/css" href="\my_portfolio\static\css\main2.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <!--HTML5 WEBSITE-->
    <div id="wrapper">
        <!--LEFT MENU-->
        <div class="left-menu">
            <!--LOGO-->
            <div class="logo">
                <a href="index.html" class="logo logo-banner text-center">
                    <span class="logo-banner-image">
                        <img src="adres loga.png" height="24">
                    </span>
                </a>
            </div>
            <!--END LOGO-->
            <!--NAV MENU-->
            <div class="nav-menu">
                <div class="nav-menu-height">
                    <div class="nav-menu-height-auto"></div>
                </div>
                <div class="nav-mask">
                    <div class="nav-mask-set" style="right: 0px; bottom: 0px;">
                        <div class="nav-mask-set-content" style="height: 100%; overflow: hidden scroll;">
                            <div class="nav-mask-set-content-line" style="padding: 0px;">
                                <div id="nav-menu">
                                    <ol id="nav-menu-bar">
                                        <li class="nav-menu-bar-title">Profile</li>
                                        <li class="nav-menu-bar-active">
                                            <a href="#navKonto" data-toggle="collapse" class="waves-effect" aria-expanded="false">
                                                <i class="ri-dashboard-line"></i>
                                                <span>Konto</span>
                                            </a>
                                            <div class="collapse" id="navKonto">
                                                <ul id="nav-menu-second">
                                                    <li>
                                                        <a href="aaa.html">Wiadomości</a>
                                                    </li>
                                                    <li>
                                                        <a href="aaa.html">Bibloteka</a>
                                                    </li>
                                                    <li>
                                                        <a href="aaa.html">Coś</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-menu-bar-title">Appki</li>
                                        <li>
                                            <a href="aaa.html">
                                                <i class="ri-building-4-line"></i>
                                                <span>Companies</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>