<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Pookiepook</title>
    <meta name="description" content="Strona poświęcona ludziom ceniącym sobie równowagę i spokój w zyciu">
    <meta name="keywords" content="pookiepook, balance, places, nature, healthy lifestyle">
    <link rel="stylesheet" type="text/css" href="\my_portfolio\static\css\main2.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <div class="container">

        <div class="row">
            <!--TOP-->
            <div class="top_case">
                <header class="top_nav">
                    <a href="home.html"><i class="fas fa-home" aria-hidden="true"></i></a>
                    <a href="profile.html"><i class="fas fa-user-circle" aria-hidden="true"></i></a>
                    <a href="contact.html"><i class="fas fa-comments" aria-hidden="true"></i></a>
                    <a href="likes.html"><i class="fas fa-heart" aria-hidden="true"></i></a>
                    <a href="likes.html"><i class="fas fa-coffee" aria-hidden="true"></i></a>
                    <a href="shop.html"><i class="fas fa-gifts" aria-hidden="true"></i></a>
                    <a href="info.html"><i class="fas fa-bell" aria-hidden="true"></i></a>
                    <a class="search_box">
                        <input class="search_txt" type="text" name="" placeholder="Wyszukaj">
                        <a class="search_btn">
                            <i class="far fa-search"></i>
                        </a>
                    </a>
                </header>
            </div>
        </div>

        <div class="row">
            <!--LEFT-->
            <div class="left_case">
            </div>
        </div>

        <div class="row">
            <!--CENTER-->
            <div class="center_case">
            </div>
        </div>

        <div class="row">
            <!--RIGHT-->
            <div class="right_case">
            </div>
        </div>
    </div>

    <div class="row">
        <!--BOTTOM-->
        <div class="bottom_case">
        </div>
    </div>

    </div>

</body>
</html>