:root {
    --div-background-color: red;
    --text-color: rgb(43, 255, 0);
    --div-padding: 10px;
    --div-margin: 10px;
}
body {
    background-color: var(--background-color, pink);
}
.child {
    background-color: var(--div-background-color);
    color: var(--text-color);
}
.one {
    --div-background-color: blue;
    --text-color: rgb(255, 0, 212);
}
.one-one {
    margin: var(--div-margin);
    padding: var(--div-margin);
}
.one-two {
    margin: var(--div-margin);
    padding: var(--div-margin);
}