<html>
    <head><!-- head jest elementem zawierającym informacje o dokumencie, które nie są wyświetlane na ekranie. -->
        <title>Radek's blog</title> <!--Tytuł strony-->>
    </head>
    <body><!-- body zawiera wszystkie pozostałe elementy, które są częścią strony internetowej widoczną na ekranie. -->
        <div>
            <h1><a href="/">Django Radek Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>coś.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>coś2.</p>
        </div>
    </body>
</html>