.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 1fr wartosc ułamkowa */
    grid-gap: 10px;
    align-items: start;
    justify-items: center;
    margin: 20px;
}
.grid img {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}
/* pseudoclassa */
.grid img:nth-child(6) {
    /* piąty obrazek zajmuje 5 kolumn */
    grid-column: span 5;
}
