{% extends "base.html" %} {% block article %} {% load static %}
<style>
.scrollable {
    width:100%;
    min-height: 400px;
}
.scrollable div {
    margin: 5px;
}
.lay {
    padding: 20px;
}
.add_article {
    margin: 0 auto;
    background-color: #2e5c54;;
    padding: 20px;
    border-radius: 20px;
}
.add_article div {
    margin-top: 5px;
    margin-bottom: 5px;
}
.log-txt {
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: Arial, "Liberation Sans", "Droid Sans", Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 1px 1px 1px var(--dark);
    font-style: italic;
    color: var(--white-background);
}
.user-article-add {
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: Arial, "Liberation Sans", "Droid Sans", Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 1px 1px 1px var(--dark);
    font-style: italic;
    color: var(--white-background);
    line-height: 1rem;
}
@media screen and (max-width: 700px) {

    .scrollable {
    width:100%;
    }
    .scrollable div {
        margin: auto;
    }

    .add_article {
        width: 90%;
    }
    .lay {
    padding: 5px;
        width: 80%;
    }
}
</style>
<div class="lay">
    <div class="add_article">
        {% if user.is_authenticated %}
        <form action='.' method='POST' enctype="multipart/form-data">{% csrf_token %}
        <div class="log-txt">{{ form_class.title.label }}</div>
        <div>{{ form_class.title }}</div>
        <div class="log-txt">{{ form_class.content.label }}</div>
        <div class='content'>{{ form_class.content }}</div>
        <div>{{ form_class.status }}</div>
        <div class="user-article-add">Adding by: {{ user }}</div>
        <div class="log-txt">{{ form_class.article_image.label }}</div>
        <div class="log-btn"style="background-color: #8d5555;" >{{ form_class.article_image }}</div>
            <input class="log-btn" type='submit' value='Save' />
        </form>
        {% else %}
        <p style="padding: 20px;">You cant add articles please login</p>
        {% endif %}
    </div>
</div>
{% endblock article %}